
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
section{
    height: 50vh;
    width: 50vw;
    background-color: rgb(199, 195, 195);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    height: 6vh;
    width: 8vw;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.sumir{
    display: none;
}
.button-user{
    background-color: rgb(2, 85, 2);
}